:root {
    --primary-color: rgb(69, 59, 255);
    --primary-color-dark: rgb(25, 12, 255);
    --second-color: rgb(255, 255, 255);

}
* {
    box-sizing: border-box;
    outline: 0;
}

body {
    margin: 0;
    padding: 0;
    background: var(--primary-color);

    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.1em;
    line-height: 1.5em;

    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.wrapper {
    width: 100%;
    height: 80%;
    padding: 50px 50px;
}
.container {
    max-width: 1600px;
    margin: 50px auto;
    padding: 20px;

    background: var(--second-color);
    border-radius: 10px;
    box-shadow: -4px 4px 4px 2px rgba(0, 0, 0, 0.288);
}
h1 {
    color: var(--primary-color);
    text-align: center;
    font-size: 36px;
    text-shadow: -2px 2px 2px rgba(0, 0, 0, 0.288);;
}
.relogio {
    width: 100%;
    padding: 25px;
    text-align: center;
    border: 1px solid rgba(226, 226, 226, 0.734);
    border-radius: 5px;
    background-color: rgba(226, 226, 226, 0.345);
}


.buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;

    gap: 26px ;
}
button{
    border: none;
    background-color: var(--primary-color);
    color: #fff;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    padding: 15px;
    cursor: pointer;
    margin-top: 30px;

    border-radius: 5px;
    box-shadow: -2px 2px 2px 2px rgba(0, 0, 0, 0.288);
    
}

.buttons button:hover {
    background: var(--primary-color-dark);
    outline: 2px solid var(--primary-color-dark);
}

.relogio {
    font-size: 3em;
}
.pausado {
    color: rgba(255, 0, 0, 0.74);
}

@media screen and (max-width: 481px) {
    .container {
        padding: 10px;
    }
    .wrapper{
        padding: 25px;
    }
    button{
        margin-top: 0;
    }
    .buttons{
        margin: 0 0 30px 0;
    }
    .relogio{
        margin: 100px 0 100px 0;
        padding: 40px 0px
    }
}